.control-form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 16px;

}

.control-container{
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

p{
    margin: 0;
    margin-bottom: 4px;
}



/*needed*/
.code-tag{
    color: var(--color-highlight-primary);
}

.code-attribute{
    color: #606;
}

.code-pun{
    color: var(--color-text-primary);
}
.code-string{
    color: #800;
}

.code-comment{
    color: #060;
}

.codeHeader {
	box-sizing: content-box;
	background-color: hsla(0, 0%, 95%, 1);
	background-color: var(--color-tertiary);
	display: flex;
	flex-direction: row;
	font-size: 0.8rem;
	border: 1px solid hsla(0,0%,89%,1);
	border: 1px solid var(--color-quaternary);
	border-bottom: 0;
	margin-top: 16px;
	min-height: 30px;
}

.codeHeader + pre {
	margin-top: 0px;
}
.codeHeader > .language {
	padding: 2px 16px;
	flex-grow: 1;
}

.codeHeader > .action {
	padding: 2px 10px;
	background-color: transparent;
	border: 0 solid hsla(0,0%,89%,1);
	border: 0 solid var(--color-quaternary);
	border-left-width: 1px;
	cursor: pointer;
	display: flex;
	align-items: center;
	line-height: normal;
}

.codeHeader > .action .successful-copy-alert.is-transparent {
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

.action {
	position: relative !important;
}

.icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem;
}

pre, code {
	font-family: monospace,monospace;
    font-size: 1em;
    direction: ltr;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

pre > code {
	position: relative;
	border: 0;
	padding: 0;
	display: block;
	line-height: 19px;
}

pre {
	font-size: 0.87rem;
	overflow: auto;
	border: 1px solid hsla(0,0%,89%,1);
	border: 1px solid var(--color-quaternary);
	background-color: hsla(0, 0%, 98%, 1);
	background-color: var(--color-secondary);
	padding: 1rem;
	margin: 1rem 0 0;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	-webkit-overflow-scrolling: touch;
}