.container{
    padding: 16px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.ninja-cat-container{
    text-align: center;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-grow: 0.5;
}

.control-form{
    flex-grow: 1;
}