<ng-template [duoPane] [secondaryPane]="secondPage" twoPaneMinWidthSingleSegment=800
    twoPaneSpanningModeSingleSegment="single-fold-vertical">
    <div class="page">
        <app-first-page class="main-content"></app-first-page>
        <footer>
            <button [disabled]="disablePreviousPageButton()" (click)="previousPage()">Previous</button>
            <p>{{pageNumber()}}</p>
            <button [disabled]="disableNextPageButton()" (click)="nextPage()">Next</button>
        </footer>
    </div>
</ng-template>
<ng-template #secondPage>
    
            <app-first-page></app-first-page>
        
    
</ng-template>