<div class="container">
  <p>Your current parameters require this code:</p>
  <div class="codeHeader" id="code-try-0">
    <h5 class="language">HTML</h5>
    <app-copy-button [valueToCopy]="liveCodeValue"></app-copy-button>
  </div>
<pre tabindex="0"><code><span>
<span class="code-tag">&lt;ng-template <span class="code-attribute">[duoPane]</span>
    <span class="code-attribute">[secondaryPane]<span class="code-pun">=</span><span class="code-string">"secondaryBlock"</span>
    <span class="code-attribute">twoPaneMinWidthSingleSegment<span class="code-pun">=</span><span class="code-string">{{twoPaneMinWidthSingleSegment}}</span></span>
    <span class="code-attribute">twoPaneMinHeightSingleSegment<span class="code-pun">=</span><span class="code-string">{{twoPaneMinHeightSingleSegment}}</span></span>
    <span class="code-attribute">twoPaneSpanningModeSingleSegment<span class="code-pun">=</span><span class="code-string">"{{twoPaneSpanningModeSingleSegment}}"</span></span>
    <span class="code-attribute">primaryPanePercentageSingleSegment<span class="code-pun">=</span><span class="code-string">{{primaryPanePercentageSingleSegment}}</span></span>
    <span class="code-attribute">ensureSecondaryPaneVisible<span class="code-pun">=</span><span class="code-string">"{{ensureSecondaryPaneVisible}}"</span></span></span>&gt;</span>
        <span class="code-comment">&lt;!-- The component you want to display inside primary pane. --&gt;</span>
<span class="code-tag">&lt;/ng-template&gt;</span>
<span class="code-tag">&lt;ng-template&gt;</span>
    <span class="code-comment">&lt;!-- The component you want to display inside secondary pane. (🐱‍👤) --&gt;</span>
<span class="code-tag">&lt;/ng-template&gt;</span>
</span>
</code></pre>
</div>